/* #region Central Know How Control */

.CentralKnowHowControl() {

  .CKH {
    display: inline-block;
    padding-left: 24px;
    cursor: pointer;
  }

}

/* #endregion */

/* #region Condition Style */

.CentralKnowHowStyle() {

  .CKH {
    background: @centralknowhow-image no-repeat;
  }

}

/* #endregion */