/* #region Desired Button Style */

.DesiredButtonStyle() {

  button.DesiredAction, button.PositiveButton {
    color: @desiredbutton-text-color;
    background-color: @desiredbutton-background-color;
    border-color: darken(@desiredbutton-background-color, 20%);
    .TextShadow(@desiredbutton-background-color);

    &:enabled:focus,
    &:enabled:active,
    &:enabled:hover {
      color: @desiredbutton-text-color-hover;
      background-color: @desiredbutton-background-color-hover;
      border-color: darken(@desiredbutton-background-color-hover, 20%);
    }
  }

}

/* #endregion */

/* #region Desired Button IE */

.DesiredButtonControlIE() {

  button.DesiredAction.Hover, button.PositiveButton.Hover {
    color: @desiredbutton-text-color-hover;
    background-color: @desiredbutton-background-color-hover;
    border-color: darken(@desiredbutton-background-color-hover, 20%);
  }

}

/* #endregion */

/* #region Desired Button Control Hacks */

.DesiredButtonControlHack() {

  button.DesiredAction, button.PositiveButton {
    span {
      color: @desiredbutton-text-color;
    }
  }

}

/* #endregion */