/* #region Message Box Control */

.MessageBoxControl() {

  .Dialog .MessageBox, 
  .MessageBox {

    position: relative;
    margin: 0 auto;
    padding: 0;
    min-width: 400px;
    width: 600px;
    height: auto;
    background: none;

    &.Show {
      display: block;
    }
  }
  
}

/* #endregion */

/* #region Message Box Style */

.MessageBoxStyle() {

  .Dialog .MessageBox, 
  .MessageBox {
    box-shadow: @window-shadow;
  }

}

/* #endregion */
