/* #region Pagination Control */

.PaginationControl() {

  .Pagination {
    margin: 10px 0;

    button {
      display: inline-block;
    }

    button + button {
      margin-right: 10px;
    }

  }

}

/* #endregion */