<blockquote>
  
  <h2>Defines styles for info, success, warning and error inline messages.</h2>

  <h3>Usage</h3>

  <ul class="Bulleted">
    <li>Add the <code>.Issue</code> class with a style modifier <code>.Info</code>, <code>.Success</code>, <code>.Warning</code> or <code>.Error</code></li>
    <li>Optionally add the close button using <code>&lt;a href="#" class="CloseButton"&gt;Close&lt;/a&gt;</code></li>
    <li>Optionally add content using the <code>&lt;div class="Container"&gt;&lt;div class="Content"&gt;&lt;/div&gt;&lt;/div&gt;</code></li>
  </ul>

</blockquote>

<div class="Panel">

  <h2>Issue Info Bar</h2>
  <div class="Issue Info" data-codeblock="true">
    <h1>Issue Information</h1>
    <a href="#" class="CloseButton">Close</a>
  </div>
  <hr />

  <h2>Issue Success Bar</h2>
  <div class="Issue Success" data-codeblock="true">
    <h1>Issue Success</h1>
    <a href="#" class="CloseButton">Close</a>
  </div>
  <hr />

   <h2>Issue Warning Bar</h2>
  <div class="Issue Warning" data-codeblock="true">
    <h1>Issue Warning</h1>
    <a href="#" class="CloseButton">Close</a>
  </div>
  <hr />

  <h2>Issue Error Bar</h2>
  <div class="Issue Error" data-codeblock="true">
    <h1>Issue Error</h1>
    <a href="#" class="CloseButton">Close</a>
  </div>
  <hr />

  <h2>Issue Info Box</h2>
  <div class="Issue Info" data-codeblock="true">
    <h1>Issue Information</h1>
    <a href="#" class="CloseButton">Close</a>
    <div class="Container">
      <div class="Content">
        <p>Vinyl selvage brunch lomo wayfarers. Fingerstache pickled hoodie ethical. Twee authentic +1, four loko echo park brooklyn 
          photo booth wolf viral iphone small batch VHS vegan fingerstache hoodie. Odd future kale chips kogi shoreditch master cleanse, 
          fanny pack wolf food truck retro lomo ethical fingerstache semiotics occupy. Twee squid pop-up selvage, small batch wayfarers 
          synth leggings brooklyn aesthetic. Gluten-free readymade scenester banh mi single-origin coffee occupy iphone, you probably 
          haven't heard of them post-ironic art party etsy biodiesel. Readymade cardigan direct trade trust fund dreamcatcher, pour-over 
          gentrify street art umami next level organic 3 wolf moon marfa whatever portland.</p>
        <p>Vinyl selvage brunch lomo wayfarers. Fingerstache pickled hoodie ethical. Twee authentic +1, four loko echo park brooklyn 
          photo booth wolf viral iphone small batch VHS vegan fingerstache hoodie. Odd future kale chips kogi shoreditch master cleanse, 
          fanny pack wolf food truck retro lomo ethical fingerstache semiotics occupy. Twee squid pop-up selvage, small batch wayfarers 
          synth leggings brooklyn aesthetic. Gluten-free readymade scenester banh mi single-origin coffee occupy iphone, you probably 
          haven't heard of them post-ironic art party etsy biodiesel. Readymade cardigan direct trade trust fund dreamcatcher, pour-over 
          gentrify street art umami next level organic 3 wolf moon marfa whatever portland.</p>
      </div>
    </div>
  </div>
  <hr />

  <h2>Issue Success Box</h2>
  <div class="Issue Success" data-codeblock="true">
    <h1>Issue Success</h1>
    <a href="#" class="CloseButton">Close</a>
    <div class="Container">
      <div class="Content">
        <p>Vinyl selvage brunch lomo wayfarers. Fingerstache pickled hoodie ethical. Twee authentic +1, four loko echo park brooklyn 
          photo booth wolf viral iphone small batch VHS vegan fingerstache hoodie. Odd future kale chips kogi shoreditch master cleanse, 
          fanny pack wolf food truck retro lomo ethical fingerstache semiotics occupy. Twee squid pop-up selvage, small batch wayfarers 
          synth leggings brooklyn aesthetic. Gluten-free readymade scenester banh mi single-origin coffee occupy iphone, you probably 
          haven't heard of them post-ironic art party etsy biodiesel. Readymade cardigan direct trade trust fund dreamcatcher, pour-over 
          gentrify street art umami next level organic 3 wolf moon marfa whatever portland.</p>
        <p>Vinyl selvage brunch lomo wayfarers. Fingerstache pickled hoodie ethical. Twee authentic +1, four loko echo park brooklyn 
          photo booth wolf viral iphone small batch VHS vegan fingerstache hoodie. Odd future kale chips kogi shoreditch master cleanse, 
          fanny pack wolf food truck retro lomo ethical fingerstache semiotics occupy. Twee squid pop-up selvage, small batch wayfarers 
          synth leggings brooklyn aesthetic. Gluten-free readymade scenester banh mi single-origin coffee occupy iphone, you probably 
          haven't heard of them post-ironic art party etsy biodiesel. Readymade cardigan direct trade trust fund dreamcatcher, pour-over 
          gentrify street art umami next level organic 3 wolf moon marfa whatever portland.</p>
      </div>
    </div>
  </div>
  <hr />

  <h2>Issue Warning Box</h2>
  <div class="Issue Warning" data-codeblock="true">
    <h1>Issue Warning</h1>
    <a href="#" class="CloseButton">Close</a>
    <div class="Container">
      <div class="Content">
        <p>Vinyl selvage brunch lomo wayfarers. Fingerstache pickled hoodie ethical. Twee authentic +1, four loko echo park brooklyn 
          photo booth wolf viral iphone small batch VHS vegan fingerstache hoodie. Odd future kale chips kogi shoreditch master cleanse, 
          fanny pack wolf food truck retro lomo ethical fingerstache semiotics occupy. Twee squid pop-up selvage, small batch wayfarers 
          synth leggings brooklyn aesthetic. Gluten-free readymade scenester banh mi single-origin coffee occupy iphone, you probably 
          haven't heard of them post-ironic art party etsy biodiesel. Readymade cardigan direct trade trust fund dreamcatcher, pour-over 
          gentrify street art umami next level organic 3 wolf moon marfa whatever portland.</p>
        <p>Vinyl selvage brunch lomo wayfarers. Fingerstache pickled hoodie ethical. Twee authentic +1, four loko echo park brooklyn 
          photo booth wolf viral iphone small batch VHS vegan fingerstache hoodie. Odd future kale chips kogi shoreditch master cleanse, 
          fanny pack wolf food truck retro lomo ethical fingerstache semiotics occupy. Twee squid pop-up selvage, small batch wayfarers 
          synth leggings brooklyn aesthetic. Gluten-free readymade scenester banh mi single-origin coffee occupy iphone, you probably 
          haven't heard of them post-ironic art party etsy biodiesel. Readymade cardigan direct trade trust fund dreamcatcher, pour-over 
          gentrify street art umami next level organic 3 wolf moon marfa whatever portland.</p>
      </div>
    </div>
  </div>
  <hr />

  <h2>Issue Error Box</h2>
  <div class="Issue Error" data-codeblock="true">
    <h1>Issue Error</h1>
    <a href="#" class="CloseButton">Close</a>
    <div class="Container">
      <div class="Content">
        <p>Vinyl selvage brunch lomo wayfarers. Fingerstache pickled hoodie ethical. Twee authentic +1, four loko echo park brooklyn 
          photo booth wolf viral iphone small batch VHS vegan fingerstache hoodie. Odd future kale chips kogi shoreditch master cleanse, 
          fanny pack wolf food truck retro lomo ethical fingerstache semiotics occupy. Twee squid pop-up selvage, small batch wayfarers 
          synth leggings brooklyn aesthetic. Gluten-free readymade scenester banh mi single-origin coffee occupy iphone, you probably 
          haven't heard of them post-ironic art party etsy biodiesel. Readymade cardigan direct trade trust fund dreamcatcher, pour-over 
          gentrify street art umami next level organic 3 wolf moon marfa whatever portland.</p>
        <p>Vinyl selvage brunch lomo wayfarers. Fingerstache pickled hoodie ethical. Twee authentic +1, four loko echo park brooklyn 
          photo booth wolf viral iphone small batch VHS vegan fingerstache hoodie. Odd future kale chips kogi shoreditch master cleanse, 
          fanny pack wolf food truck retro lomo ethical fingerstache semiotics occupy. Twee squid pop-up selvage, small batch wayfarers 
          synth leggings brooklyn aesthetic. Gluten-free readymade scenester banh mi single-origin coffee occupy iphone, you probably 
          haven't heard of them post-ironic art party etsy biodiesel. Readymade cardigan direct trade trust fund dreamcatcher, pour-over 
          gentrify street art umami next level organic 3 wolf moon marfa whatever portland.</p>
      </div>
    </div>
  </div>

</div>