<blockquote>
  
  <h2>Defines navigation style.</h2>

  <h3>Usage</h3>

  <ul class="Bulleted">
    <li>Wrap with the <code>.Navigation</code> class and make sure the <code>&lt;nav&gt;</code> element exists</li>
    <li>Use <code>&lt;a&gt;</code> elements as menu items within the list.</li>
    <li>To apply the selected state to a menu item, just add the <code>.Selected</code> class to <code>&lt;li&gt;</code> element.</li>
  </ul>

</blockquote>

<div class="Panel"> 

  <h2>Navigation</h2>

  <section class="Navigation" data-codeblock="true">
    <nav role="navigation">
      <ul>
        <li class="Selected"><a href="#">Menu Item 1</a></li>
        <li><a href="#">Menu Item 2</a></li>
        <li><a href="#">Menu Item 3</a></li>
        <li><a href="#">Menu Item 4</a></li>
      </ul>
    </nav>
  </section>

  <hr />

  <h2>Disabled Navigation Items</h2>

  <section class="Navigation" data-codeblock="true">
    <nav role="navigation">
      <ul>
        <li class="Selected"><a href="#">Menu Item 1</a></li>
        <li><a href="#">Menu Item 2</a></li>
        <li><span class="Disabled">Menu Item 3</span></li>
        <li><span class="Disabled">Menu Item 4</span></li>
      </ul>
    </nav>
  </section>

</div>