<blockquote>

  <h2>Easily create a nice looking tooltips.</h2>

  <h3>Usage</h3>
  <ul class="Bulleted">
    <li>Simply add the <code>data-tooltip-content</code> attribute to an element</li>
    <li>Add the <code>data-tooltip-class</code> attribute, to specify a style</li>
    <li>Add the <code>data-tooltip-direction</code> attribute to adjust the tooltip's direction</li>
  </ul>

  <p class="Condition">Tooltips automatically reposition so that they won't exceed the browser window size.</p>

</blockquote>

<div class="Panel">

  <h2>Style</h2>
  <a href="#" class="Tooltip" data-tooltip-content="Example Info Tooltip" data-codeblock="true">Hover Me Info</a>
  <a href="#" class="Tooltip" data-tooltip-content="Example Warning Tooltip" data-tooltip-class="TooltipWarning" data-codeblock="true">Hover Me Warning</a>
  <a href="#" class="Tooltip" data-tooltip-content="Example Error Tooltip" data-tooltip-class="TooltipError" data-codeblock="true">Hover Me Error</a>

  <h2>Direction</h2>
  <a href="#" class="Tooltip" data-tooltip-content="Example Info Tooltip" data-tooltip-direction="top" data-codeblock="true">Top</a>
  <a href="#" class="Tooltip" data-tooltip-content="Example Info Tooltip" data-tooltip-direction="right" data-codeblock="true">Right</a>
  <a href="#" class="Tooltip" data-tooltip-content="Example Info Tooltip" data-tooltip-direction="bottom" data-codeblock="true">Bottom</a>
  <a href="#" class="Tooltip" data-tooltip-content="Example Info Tooltip" data-tooltip-direction="left" data-codeblock="true">Left</a>
  
</div>