<tr class="odd" data-id="1">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr data-id="2">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr class="odd" data-id="3">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr data-id="4">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr class="odd" data-id="5">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr data-id="6">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr class="odd" data-id="7">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr data-id="8">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr class="odd" data-id="9">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr data-id="10">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr class="odd" data-id="11">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr data-id="12">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr class="odd" data-id="13">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr data-id="14">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr class="odd" data-id="15">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr data-id="16">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr class="odd" data-id="17">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr data-id="18">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr class="odd" data-id="19">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>
<tr data-id="20">
  <td>Column 1 Data</td>
  <td>Column 2 Data</td>
  <td>Column 3 Data</td>
  <td>Column 4 Data</td>
</tr>