/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */

  font-family: monospace;
  height: 300px;
}
.CodeMirror-scroll {
  /* Set scrolling behaviour here */

  overflow: auto;
}
/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */

}
.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */

}
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */

}
/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.CodeMirror-guttermarker {
  color: black;
}
.CodeMirror-guttermarker-subtle {
  color: #999;
}
/* CURSOR */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
@-moz-keyframes blink {
  0% {
    background: #7e7;
  }
  50% {
    background: none;
  }
  100% {
    background: #7e7;
  }
}
@-webkit-keyframes blink {
  0% {
    background: #7e7;
  }
  50% {
    background: none;
  }
  100% {
    background: #7e7;
  }
}
@keyframes blink {
  0% {
    background: #7e7;
  }
  50% {
    background: none;
  }
  100% {
    background: #7e7;
  }
}
/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}
/* DEFAULT THEME */
.cm-s-default .cm-keyword {
  color: #708;
}
.cm-s-default .cm-atom {
  color: #219;
}
.cm-s-default .cm-number {
  color: #164;
}
.cm-s-default .cm-def {
  color: #00f;
}
.cm-s-default .cm-variable-2 {
  color: #05a;
}
.cm-s-default .cm-variable-3 {
  color: #085;
}
.cm-s-default .cm-comment {
  color: #a50;
}
.cm-s-default .cm-string {
  color: #a11;
}
.cm-s-default .cm-string-2 {
  color: #f50;
}
.cm-s-default .cm-meta {
  color: #555;
}
.cm-s-default .cm-qualifier {
  color: #555;
}
.cm-s-default .cm-builtin {
  color: #30a;
}
.cm-s-default .cm-bracket {
  color: #997;
}
.cm-s-default .cm-tag {
  color: #170;
}
.cm-s-default .cm-attribute {
  color: #00c;
}
.cm-s-default .cm-header {
  color: blue;
}
.cm-s-default .cm-quote {
  color: #090;
}
.cm-s-default .cm-hr {
  color: #999;
}
.cm-s-default .cm-link {
  color: #00c;
}
.cm-negative {
  color: #d44;
}
.cm-positive {
  color: #292;
}
.cm-header,
.cm-strong {
  font-weight: bold;
}
.cm-em {
  font-style: italic;
}
.cm-link {
  text-decoration: underline;
}
.cm-s-default .cm-error {
  color: #f00;
}
.cm-invalidchar {
  color: #f00;
}
/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}
.CodeMirror-activeline-background {
  background: #e8f2ff;
}
/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  line-height: 1;
  position: relative;
  overflow: hidden;
  background: white;
  color: black;
}
.CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */

  /* See overflow: hidden in .CodeMirror */

  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */

  position: relative;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}
.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: 30px;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-bottom: 30px;
  margin-bottom: -32px;
  display: inline-block;
  /* Hack to make IE7 behave */

  *zoom: 1;
  *display: inline;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-lines {
  cursor: text;
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */

  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}
.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}
.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}
.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-measure pre {
  position: static;
}
.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  border-right: none;
  width: 0;
}
div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 1;
}
.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}
.CodeMirror-selected {
  background: #d9d9d9;
}
.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0;
}
.CodeMirror-crosshair {
  cursor: crosshair;
}
.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4);
}
/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span {
  *vertical-align: text-bottom;
}
/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px;
}
@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}
/**
 * Basic Color Palette
 */
/* Shading */
/* Foxtel Specific */
/**
 * TV Classifications
 */
/**
 * Gradients
 */
/**
 * Issues
 */
/* Issue Types e.g. Info, Warning, Error, Success */
/**
 * Tooltips
 */
/* Tooltip Types e.g. Info, Warning, Error */
/**
 * Controls Collection
 */
/* #region App Control  */
/* #endregion */
/* #region App Style  */
/* #endregion *//* #region Action Button Control */
/* #endregion */
/* #region Action Button Control IE */
/* #endregion */
/* #region Button Control Hacks */
/* #endregion *//* #region Alert Style */
/* #endregion *//* #region Autocomplete Control */
/* #endregion *//* #region Blockquote Control */
/* #endregion */
/* #region Blockquote Style  */
/* #endregion *//* #region Breadcrumbs Control */
/* #endregion */
/* #region Breadcrumbs Style  */
/* #endregion *//* #region Button Control */
/* #endregion */
/* #region Button Style */
/* #endregion */
/* #region Button Control IE */
/* #endregion */
/* #region Button Control Hacks */
/* #endregion *//* #region Central Know How Control */
/* #endregion */
/* #region Condition Style */
/* #endregion *//* #region Character Counter Control */
/* #endregion */
/* #region Character Counter Style */
/* #endregion *//* #region Checkbox Control */
/* #endregion */
/* #region Checkbox Style */
/* #endregion */
/* #region Checkbox Control IE */
/* #endregion *//* #region Close Button Control */
/* #endregion */
/* #region Close Button Style */
/* #endregion *//* #region Code Control */
/* #endregion */
/* #region Code Style */
/* #endregion *//* #region Code Example Control */
/* #endregion */
/* #region Code Example Style */
/* #endregion *//* #region Condition Control */
/* #endregion */
/* #region Condition Style */
/* #endregion *//* #region Data Control */
/* #endregion */
/* #region Data Style */
/* #endregion *//* #region DatePicker Control */
/* #endregion */
/* #region Date Picker Style */
/* #endregion *//* #region Delete Button Style */
/* #endregion */
/* #region Delete Button IE */
/* #endregion */
/* #region Delete Button Control Hacks */
/* #endregion *//* #region Desired Button Style */
/* #endregion */
/* #region Desired Button IE */
/* #endregion */
/* #region Desired Button Control Hacks */
/* #endregion *//* #region Dialog Control */
/* #endregion Dialog Control */
/* #region Dialog Style */
/* #endregion */
/* #region Dialog Control IE */
/* #endregion *//* #region Fieldset Control */
/* #endregion */
/* #region Fieldset Style */
/* #endregion */
/* #region Fieldset Control IE */
/* #endregion *//* #region Search Control */
/* #endregion */
/* #region Filter Style */
/* #endregion */
/* #region Grid Control IE */
/* #endregion *//* #region Form Control */
/* #endregion *//* #region Grid Control */
/* #endregion */
/* #region Grid Style */
/* #endregion *//* #region Heading Control */
/* #endregion */
/* #region Heading Style */
/* #endregion */
/* #region Heading Control IE */
/* #endregion */
/* #region Heading Control Hack */
/* #endregion *//* #region Horizontal Rule Control */
/* #endregion */
/* #region Horizontal Rule Style */
/* #endregion *//* #region Hyperlink Control */
/* #endregion */
/* #region Hyperlink Style */
/* #endregion *//* #region Input Control */
/* #endregion */
/* #region Input Style */
/* #endregion */
/* #region Input Control Hacks */
/* #endregion *//* #region Create Issue */
/* #endregion */
/* #region Create Issue Type */
/* #endregion */
/* #region Issue Control */
/* #endregion */
/* #region Issue Style */
/* #endregion */
/* #region Issue Control IE */
/* #endregion *//*#region Label Control */
/*#endregion*/
/*#region Label Style */
/*#endregion*/
/*#region Label Control Hacks */
/*#endregion*//* #region List Control */
/* #endregion */
/* #region List Style */
/* #endregion */
/* #region List Control IE */
/* #endregion *//* #region Loading Control */
/* #endregion */
/* #region Loading Style */
/* #endregion *//* #region Lozenge Control */
/* #endregion */
/* #region Lozenge Style */
/* #endregion *//* #region Message Box Control */
/* #endregion */
/* #region Message Box Style */
/* #endregion */
/* #region Message Window Control */
/* #endregion */
/* #region Message Window Style */
/* #endregion *//* #region Navigation Control */
/* #endregion */
/* #region Navigation Style */
/* #endregion */
/* #region Navigation Control IE */
/* #endregion *//* #region Number Control */
/* #endregion */
/* #region Number Style */
/* #endregion */
/* #region Number Control IE */
/* #endregion */
/* #region Pagination Control */
/* #endregion *//* #region Panel Control */
/* #endregion */
/* #region Panel Style */
/* #endregion *//* #region Rating Control  */
/* #endregion */
/* #region Rating Style */
/* #endregion *//* #region Radio Button Control */
/* #endregion */
/* #region Radio Button Style */
/* #endregion */
/* #region Radio Button Control IE */
/* #endregion *//* #region Response Message Control */
/* #endregion */
/* #region Response Message Style */
/* #endregion */
/* #region Response Message Control Hack */
/* #endregion *//* #region Secondary Button Control */
/* #endregion */
/* #region Secondary Button Style */
/* #endregion */
/* #region Secondary Button Control IE */
/* #endregion *//* #region Segmented Button Control */
/* #endregion */
/* #region Segmented Button Style */
/* #endregion */
/* #region Segmented Button Control IE */
/* #endregion */
/* #region Segmented Button Control Hack */
/* #endregion *//* #region Select Control */
/*#endregion*/
/* #region Select Style */
/*#endregion*/
/* #region Select Control IE */
/* #endregion *//* #region Subscription Control */
/* #endregion */
/* #region Subscription Style */
/* #endregion *//* #region Tabs Control */
/* #endregion */
/* #region Tabs Style */
/* #endregion */
/* #region Tabs IE */
/* #endregion */
/* #region Tabs Hacks */
/* #endregion *//* #region Create Tooltip  */
/* #endregion */
/* #region Create Tooltip Style  */
/* #endregion */
/* #region Tooltip Control */
/* #endregion */
/* #region Tooltip Control IE */
/* #endregion *//* #region Validation Control */
/* #endregion */
/* #region Validation Style */
/* #endregion */
/* #region Validation Control IE */
/* #endregion */
/* #region Validation Control Hack */
/* #endregion *//**
 * Fonts
 */
/* Standard Fonts Fonts */
/* 'Proxima Nova Light' Web Font */
/* 'Proxima Nova Regular' Web Font */
/* 'Proxima Nova SemiBold' Web Font */
/* 'Proxima Nova Bold' Web Font */
/* New TV Package */
/*
@icon-tier-tv-entertainment: ;
@icon-tier-tv-sports: ;
@icon-tier-tv-movies: ;
@icon-tier-tv-drama: ;
@icon-tier-tv-entertainment-plus: ;
@icon-tier-tv-docos: ;
@icon-tier-tv-kids: ;
@icon-tier-tv-hd: ;
@icon-tier-tv-platinum: ;
*/
/* Old Tiers */
/* Equipment */
/* Search */
/* Payment Methods */
/* Indent */
/* Indicators */
/* CKH */
/* Toggle Button */
/* Options */
/* Response Alert */
/* Tooltip */
/* Combobox */
/* Checkbox */
/* Radio button */
/* Datagrid Details */
/* Datagrid Sort */
/* Steps */
/* Directional Arrows */
/* Loading */
/* Numeric Spinner */
/* Select List */
/* #region Steps */
/* #region Tooltab */
/* Tabs */
/** 
 * Mixins
 *
 * Should be used of very generic style functions (Not managing vendor prefixes)
 * I think Photoshop style filters: Stroke, Embosss, InnerShadow, PillowEmboss, etc...
 * 
 */
/* #region Stroke Emboss */
/* #endregion */
/* #region Stroke */
/* #endregion */
/* #region Emboss */
/* #endregion */
/* #region Inner-shadow */
/* #endregion */
/* #region Emboss Inner-shadow */
/* #endregion */
/* #region Pillow Emboss */
/* #endregion */
/* #region Pillow Inner-shadow */
/* #endregion */
/* #region Text Shadow *//* #endregion */
/* #region Box-sizing */
/* #endregion */
/* #region User-select */
/* #endregion */
/* #region Color Gradient */
/* #endregion */
/* #region Striped Shading */
/* #endregion */
/* #region Striped Gloss Shading */
/* #endregion */
/* #region Ellipsis */
/* #endregion */
/* #region Grid */
/* #endregion */
/* #region Base64 */
/* #endregion */body {
  background: #ececec;
}
#Application {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 900px;
  z-index: 1;
}
#Navigation {
  float: left;
  padding: 20px;
  width: 220px;
}
#Content {
  margin-left: 200px;
  padding: 20px;
  min-width: 900px;
}
.GridExample .Panel,
.NavigationExample .TabContainer {
  height: 400px;
}
.NanoExample {
  height: 300px;
}
.GridExample .Grid {
  height: 400px;
}
.Lozenge {
  display: block;
  margin: 0 2px 6px;
}
